# Ignore Gradle project-specific cache directory
.gradle
.idea
.vscode
dynamodb-local-metadata.json
.env.*
!.env.example
!backend/cart-service/lambda-dbchangelog/src/main/resources/.env.local-db-credentials
# Ignore Gradle build output directory
build
app/src/main/resources/static
backend/product-service/deploy/src/main/resources/static
cdk.out
*/bin
